<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamic Slider</title>
    {% include 'topnav-links.html' %}
        <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- styles -->
    <link rel="stylesheet" href="static/css/dynamic_styles.css" />
  </head>
  <body>
    {% include 'topnav.html'%}
    <section class="container">
      <div class="button-container">
        <a href="{{ url_for('sliders.static_slider') }}" class="btn btn-dark btn-lg" role="button">Static Slider</a>
        <a href="{{ url_for('sliders.dynamic_slider') }}" class="btn btn-dark btn-lg" role="button">Dynamic Slider</a>
      </div>
      <div class="title">
        <h2>Dynamic Slider</h2>
        <div class="underline"></div>
      </div>
    </section>

     <section class="slider">
      <div class="slide-container">
      </div>
      <!-- buttons -->
      <!-- prev btn -->
      <button class="btn-slider prev-btn">
        <i class="fas fa-chevron-left"></i>
      </button>
      <!-- next button -->
      <button class="btn-slider next-btn">
        <i class="fas fa-chevron-right"></i>
      </button>
    </section>
    {% include 'scripts.html' %}
    <script type="module" src="static/js/dynamic_slider.js"></script>
  </body>
</html>
