<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Flipper || Hex</title>
    {% include 'topnav-links.html' %}
    <!-- styles -->
    <link rel="stylesheet" href="./static/css/styles.css" />
  </head>
  <body>
    {% include 'topnav.html'%}
    <div class="container">
      <a href="{{ url_for('colorflipper.simple') }}" class="btn btn-dark btn-lg btn-block" role="button">Simple</a>
      <a href="{{ url_for('colorflipper.hex') }}" class="btn btn-dark btn-lg btn-block" role="button">Hex</a>
    </div>
    <main>
      <div class="container">
        <h2>background color : <span class="color">#f1f5f8</span></h2>
        <button class="btn btn-hero" id="btn">click me</button>
      </div>
    </main>
    {% include 'scripts.html' %}
    <script src="static/js/color-flipper-hex.js"></script>
  </body>
</html>
