{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="col-md-8 order-md-1">
    <h1>Willkommen zur JS Snippet Show!</h1>
    <br />
    <div class="button-group">
      <a href="{{ url_for('colorflipper.simple') }}" class="btn btn-primary" role="button">Color Flipper</a>  
      <a href="{{ url_for('counter.counter') }}" class="btn btn-primary" role="button">Counter</a>
      <a href="{{ url_for('review.review') }}" class="btn btn-primary" role="button">Review</a>
      <a href="{{ url_for('modal.modal') }}" class="btn btn-primary" role="button">Modal</a>
      <a href="{{ url_for('faq.faq') }}" class="btn btn-primary" role="button">FAQ</a>
      <a href="{{ url_for('filter.filter') }}" class="btn btn-primary" role="button">Filter</a>
      <a href="{{ url_for('pagescroller.pagescroller') }}" class="btn btn-primary" role="button">Page Scroller</a>
      <a href="{{ url_for('tabs.tabs') }}" class="btn btn-primary" role="button">JS Tabs</a>
      <a href="{{ url_for('sliders.static_slider') }}" class="btn btn-primary" role="button">Sliders</a>
    </div>      
  </div>
</div>
{% endblock content %}
