<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scroll</title>
    {% include 'topnav-links.html' %}
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- styles -->
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body>
    {% include 'topnav.html'%}
      <main class="header" id="home">
      <!-- navbar -->
      <nav id="nav">
        <div class="nav-center">
          <!-- nav header -->
          <div class="nav-header">
            <button class="nav-toggle">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <!-- links -->
          <div class="links-container">
            <ul class="links">
              <li>
                <a href="#home" class="scroll-link">home</a>
              </li>
              <li>
                <a href="#first" class="scroll-link">first link</a>
              </li>
              <li>
                <a href="#second" class="scroll-link">second link</a>
              </li>
              <li>
                <a href="#third" class="scroll-link">third link</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="banner">
        <div class="container">
          <h1>page scroller</h1>
          <p>
            Smooth scrolling links with Javascript.
          </p>
          <a href="#third" class="scroll-link btn-ps btn-white">explore this link</a>
        </div>
      </div>
      </main>
    <section id="first" class="section">
      <div class="title">
        <h2>first <span>link</span></h2>
      </div>
    </section>
    <section id="second" class="section">
      <div class="title">
        <h2>second <span>link</span></h2>
      </div>
    </section>
    <section id="third" class="section">
      <div class="title">
        <h2>third <span>link</span></h2>
      </div>
    </section>
    <footer class="section">
      <p>
        copyright &copy; page scrolling company
        <span id="date"></span>. all rights reserved
      </p>
    </footer>
    <a class="scroll-link top-link" href="#home">
      <i class="fas fa-arrow-up"></i>
    </a>
    <!-- javascript -->
    {% include 'scripts.html' %}
    <script src="static/js/pagescroller.js"></script>
  </body>
</html>
